<html>
	<head>
		
	</head>
	<body>
		<% if current_user.try(:email) == "sbhenrichs@gmail.com" || current_user.try(:email) == "camblackwell2@gmail.com" %>
			<h1 class="strong">Campaigns</h1>
		<% else %>
			<h1 class="strong">Your Campaigns</h1>
		<% end %>
		<% @campaigns.each do |campaign| %>
		<% if campaign.owner == current_user.try(:email) || current_user.try(:email) == "sbhenrichs@gmail.com" || current_user.try(:email) == "camblackwell2@gmail.com" %>
			<%= campaign.title %>
			<br>
			<%= campaign.name %>
			<br>
			<%= campaign.owner %>
			<br>
			<%= link_to "View", campaign, class: "link-black" %>
			<br>
			<br>
		<% else %>
		<% end %>
		<% end %>
		<div class="bottom">
			<a href="/users/edit" class="btn btn-info">Edit Profile</a>
		</div>

	</body>
</html>